<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPosts; index as ii;">
          <h3> {{ii}}.
            <span style="background-color: lightcoral;">{{ post.title }}</span>
            --
          <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/quills/view',  post.idDoc]">
            VIEW({{ii}})
          </button>
            --
          <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/quills/edit', post.idDoc]">
            EDIT({{ii}})
          </button>
          --
          <button mat-button class="mat-raised-button mat-primary" (click)="deleteQuill(post.idDoc)">
            DEL({{ii}})
          </button>
            --
          <span style="background-color: aquamarine;">{{post.idDoc}}</span>
          </h3>

          <!-- <button mat-button class="mat-raised-button mat-primary" [routerLink]="['/quills/new']">
            NEW()
          </button> -->



          <!-- <nav>
            <a routerLink="/quills/view/-M_alsbCaayW8IOf05OG">{{ii}}</a>
          </nav> -->
          <p>{{makeStrip(post)}}</p>
          <!-- <p>{{ post.content }}</p> -->
          <!-- <section class="content" *ngIf="html" [innerHTML]="post.content"></section> -->
          <div id="div1" >
            <div id="div2">
              <section class="content" *ngIf="html" [innerHTML]="post.content"></section>
            </div>
          </div>
          <hr/>
          <!-- <quill-view [styles]="{height: '200px'}"  [content]="post.content" format="html" theme="snow"></quill-view> -->
        </li>
      </ul>
      <p *ngIf="isFetching">Loading...</p>
    </div>
  </div>
</div>
