
<div style="visibility: hidden; position: fixed"
[style.left]="contextMenuPosition.x"
[style.top]="contextMenuPosition.y"
[matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
	<ng-template matMenuContent let-item="item">
		<button mat-menu-item (click)="onContextMenuAction1(item)">PastE 1</button>
		<button mat-menu-item (click)="onContextMenuAction2(item)">Action 2</button>
	</ng-template>
</mat-menu>
<button (click)="testObs()">test obs</button>
<div id="my-node">ZZZZZZZZZZZZZZ<br/> bbbbb</div>
the b subject begin: <br/>
---
 <span> {{queryTag$ | async|json}} </span>
 <br/>
 <span style="color: red;">  {{(queryTag$ | async).whereClause}} </span>
 <br/>the b subject END :

<div class="about">
    <h2>Picture Schedules</h2>

    <img id="FUCKmylist" class="course-image mat-elevation-z10" width="30px" height="30px"
         src="http://joeschedule.com/JoeSchedules_Visual_Toolkit/Conversation_Cards_files/conversation%20cards.jpg">

<P>
  A revamped joeschedule.  Now known as Pictre schedules.  Allows a user to create pictre schedules for
  people on the spectrum and off.<br/>
  Version: 2.01 <br/>
  last modified: May 21
</P>
</div>
<hr/><hr/>
<h1>Simple Quill Editor</h1><button (click)="saveQuil()">Save</button>
<button (click)="getQuil()">Get</button>
<div class="form-group">
<input type="text" #alterEgo [(ngModel)]="alterEgo2" placeholder="alt ego">

</div>

<!-- <quill-editor #fuck [(ngModel)]="content" trackChanges="all"  [styles]="{height: '200px'}"
  (onFocus)="focus($event)"
	(onEditorChanged)="changedEditor($event)"
	(onBlur)="blur($event)"
  (onEditorCreated)="created($event)"></quill-editor>

<quill-view-html [content]="content" theme="snow"></quill-view-html>

<div style="background-color: sandybrown;">
<paste-image-from-clipboard22 id="idfuck"></paste-image-from-clipboard22>
</div>
<hr/>
<div style="background-color: salmon;">
  <h2>Test Area</h2>
  <paste-image-from-clipboard>

  </paste-image-from-clipboard>
</div> -->
<hr/>
<div class="div2" (contextmenu)="onContextMenu($event, {id: 1, name: 'mypaste'})">aaaaaa</div>

<hr>
<!-- <div class="drop">
	<div class="cont">
		<div class="desc">
			drop / paste here your images
		</div>
	</div>
	<div class="abc">
		<img class="img-responsive drag" style="border-radius: 8px;">
  </div>
		<input type="file" id="files" multiple (change)="detectFiles($event)" accept="image/*">
</div> -->
<teststuff></teststuff>

<!-- <img src="" id="myimage" alt="my image"/> -->

<div> <img src="{{imagePath}}" /> </div>
