

<div class="about">
    <h2>Picture Schedules</h2>

    <img class="course-image mat-elevation-z10"
         src="http://joeschedule.com/JoeSchedules_Visual_Toolkit/Conversation_Cards_files/conversation%20cards.jpg">

<P>
  A revamped joeschedule.  Now known as Pictre schedules.  Allows a user to create pictre schedules for
  people on the spectrum and off.<br/>
  Version: 2.01 <br/>
  last modified: May 21
</P>
</div>

<div style="background-color: salmon;">
  <h2>Test Area</h2>
  <paste-image-from-clipboard>

  </paste-image-from-clipboard>
</div>
<hr/>
<div style="background-color: sandybrown;">
<paste-image-from-clipboard22></paste-image-from-clipboard22>
</div>

