

.mat-form-field {
    display: block;
}

textarea {
    height: 100px;
    resize: vertical;
}

.example-card {
  max-width: 10px;
  max-height: 10px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
