<p>listsquills works!</p>

<ul>
  <li> set opbservables</li>
  <li> list</li>
  <li> show woking icon</li>
  <li> allow touch row</li>
</ul>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <p *ngIf="loadedPosts.length < 1 && !isFetching">No posts available!</p>
      <ul class="list-group" *ngIf="loadedPosts.length >= 1 && !isFetching">
        <li class="list-group-item" *ngFor="let post of loadedPosts; index as ii;">
          <h3> TOUCH {{ii}}. {{ post.title }}</h3>
          <p>{{ post.content }}</p>
        </li>
      </ul>
      <p *ngIf="isFetching">Loading...</p>
    </div>
  </div>
</div>
