
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

  <mat-form-field>
    <mat-label>Name</mat-label>
    <textarea formControlName="description" matInput  cdkTextareaAutosize #autosize="cdkTextareaAutosize"
    cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3">
    </textarea>
  </mat-form-field>

  <div *ngIf="editMode=='EDIT' || editMode=='NEW'">
    <!-- <button (click)="saveQuil()">Save</button> -->

    <button *ngIf="editMode=='NEW'" (click)="createQuill()">Create</button>
    <button *ngIf="editMode=='EDIT'"(click)="updateQuil({})">Update</button>

    <quill-editor formControlName="picSchedule" trackChanges="all"></quill-editor>
  </div>
  <!-- <label>
    <quill-editor #fuck [(ngModel)]="content" trackChanges="all"  [styles]="{height: '200px'}"></quill-editor>
    First Name:
    <input type="text" formControlName="firstName" required>
  </label>
  </div> -->
<!--
  <button type="submit" [disabled]="!profileForm.valid">Submit</button> -->
</form>

<!-- <p style="background-color: lightgreen;">quill works!<br/>
  editMode= {{editMode}}<br/>
  scheduleId= {{scheduleId}}<br/>
  title= {{title}}<br/>
  id = {{idd}}<br/>
  </p> -->

  <quill-view-html *ngIf="editMode=='VIEW'" [content]="content" theme="snow"></quill-view-html>
  <br/> TBD SHOW TAGS<br/>
